* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  text-align: center;
}

button {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

button a {
  color: black;
}

button:focus,
button:hover {
  background-color: #d0e398;
}

button:focus {
  box-shadow: 0 0 0 0.4rem rgba(208, 227, 152, 0.4);
}

button:active {
  background-color: #dee398;
}
